name: Kubernetes Dashboard (GA)

on:
  push:
    tags:
      - 'v*'

jobs:
  publish-release-image:
    name: Publish YAKD Release
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Package
        run: |
          mvn -Pbuild-frontend clean package
      - name: Docker Hub Login
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: GitHub Container Registry Login
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Build and Push
        run: |
          docker buildx build                                               \
            --push                                                          \
            --build-arg VERSION=${GITHUB_REF#refs/tags/v}                   \
            -f src/main/docker/Dockerfile.build                             \
            --tag marcnuri/yakd:${GITHUB_REF#refs/tags/v}                   \
            --tag ghcr.io/manusa/yakd:${GITHUB_REF#refs/tags/v}             \
            --platform linux/amd64,linux/arm64                              \
            .
