name: Kubernetes Dashboard (GA)

on:
  push:
    tags:
      - 'v*'

env:
  VERSION: ${{ github.ref_name }}

jobs:
  build:
    name: Build (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}
    permissions:
      packages: write
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Package
        run: |
          mvn -Pbuild-frontend clean package
      - name: Docker Hub Login
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: GitHub Container Registry Login
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Build Image
        run: |
          docker build                                                       \
            --build-arg VERSION=${VERSION#v}                                 \
            -f src/main/docker/Dockerfile.build                              \
            --tag marcnuri/yakd:${VERSION}-${{ matrix.arch }}                \
            --tag ghcr.io/manusa/yakd:${VERSION}-${{ matrix.arch }}          \
            .
      - name: Push Images
        run: |
          docker push marcnuri/yakd:${VERSION}-${{ matrix.arch }}
          docker push ghcr.io/manusa/yakd:${VERSION}-${{ matrix.arch }}

  manifest:
    name: Create Multi-Arch Manifest
    runs-on: ubuntu-latest
    needs: build
    permissions:
      packages: write
    steps:
      - name: Docker Hub Login
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: GitHub Container Registry Login
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      - name: Create and Push Docker Hub Manifest
        run: |
          docker manifest create marcnuri/yakd:${VERSION#v}                  \
            marcnuri/yakd:${VERSION}-amd64                                   \
            marcnuri/yakd:${VERSION}-arm64
          docker manifest push marcnuri/yakd:${VERSION#v}
      - name: Create and Push GHCR Manifest
        run: |
          docker manifest create ghcr.io/manusa/yakd:${VERSION#v}            \
            ghcr.io/manusa/yakd:${VERSION}-amd64                             \
            ghcr.io/manusa/yakd:${VERSION}-arm64
          docker manifest push ghcr.io/manusa/yakd:${VERSION#v}
